
@{
    ViewBag.Title = "About";
}

<div class="container-fluid">

    <div class="row about-bg">
        <div class="col-md-6 leftAbout">

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 about-bg-layer">


            <div class="">
                <div class="about-content-box">
                    <div class="about-heading">

                        <h1 style="color: #000;">Tuna Çiftliği Kofçaz</h1>
                        <p style="color: #4a4a4a;">Kofçaz Maceramız</p>
                    </div>
                    <div class="about-txt">
                        <p>
                            Kofçaz maceramız 2011 yılı sonunda başladı. Şimdi 7 yaşını bitirmiş olan, 50 dönüm üzerine kurulu ceviz bahçemizde 1,400 adet fidanımız 2012 yılında toprakla buluştu. Bunu sırasıyla çiftlik arazimize kurduğumuz Santa Maria ve Deveci Armudu bahçelerimiz ve eş zamanlı olarak kurulan Japon ve Ağustos Papazı erik bahçelerimiz izledi. Bundan 2 yıl önce de Babaeski, Karacaoğlan köyündeki 110 dönüm üzerine kurulu ve yaklaşık 3,300 ceviz fidanı bulunan yeni bahçemiz diğerlerine eklendi.
                            <br/>2019 yılı itibarı ile Kofçaz’da bulunan tüm bahçelerimiz verim vermeye başladı.
                            <br />Ceviz hasadımız havalara bağlı olmak üzere her sene ekim ayı ortalarında yapılıyor.
                            <br />Japon Erik çeşitlerimizden Black Diamond çeşidi olanlar ve Ağustos Papazı isimli yeşil papaz eriklerimiz ağustos ayında hasat ediliyor. Autumn Giant isimli, büyük Japon Eriklerimiz için ise eylül ayı sonuna kadar beklemek gerekiyor.
                            <br />Bahçelerimizden sonra da yine Kofçaz’da yapımı devam eden küçükbaş damızlık hayvan işletmemizin kurulumu 2019 Ekim ayında tamamlanacak olup, Macar Merinos koyunu üretimimiz başlayacak. Buradaki öncelikli amacımız, ülkemizin et sorununa yardımcı olabilecek yüksek kalitede damızlık koyunlarımızı, yetiştiricilik ile uğraşan veya uğraşmak isteyen dostlarımızın hizmetine sunmak olacak.
                            <br />Bunun yanında, ilerleyen zamanlarda, reçel, kuzu eti, koyun yünü gibi ürünlerimiz de sizlerin beğeninize sunulacak.
                            <br />Çevre dostu olarak kurduğumuz işletmelerimizin tümünde enerji ihtiyaçlarınız %100 yenilenebilir enerji kaynaklarından sağlanıyor ve doğayla uyumlu çalışmak da bize ayrı bir mutluluk veriyor.
                            <br />Yolunuz Kofçaz’a düşerse en azından bir çayımızı içmeye her zaman bekleriz....

                        </p>
                    </div>
                </div>

                <div style="float:right; color:#4a4a4a;">
                    Yazar: <a href="https://twitter.com/Rdvanoztrk" target="_blank" style="color: #4a4a4a;"><b>M. Hakan Tuna</b></a>
                </div>

            </div>
        </div>
    </div>

</div>

