
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">        
        <div class="col-md-12 mb-5">
            <h5>İletişim Bilgilerimiz</h5>
            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen
                bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı
                1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını
                sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem
                Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi
                Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
            </p>
            <div>
                <a>info@mail.com <i class="fas fa-at" aria-hidden="true"></i></a>
            </div>
            <div class="mt-3 mb-3">
                <a>010-020-0340 <i class="fas fa-phone" aria-hidden="true"></i></a>
            </div>
            <h5>Ulaşım</h5>
            <p>
              Mahmutbey Mah. Taşocağı Yolu Cad. 212 My Office No:3 K:18 D.303, Bağcılar, İstanbul - TURKEY
            </p>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.028287688214!2d28.808871115278425!3d41.046510479297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa5a9467aaaa9%3A0xada3018824e97e96!2sMy%20Office%20A%C4%9Fao%C4%9Flu%20212!5e0!3m2!1str!2str!4v1568318500607!5m2!1str!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>